@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: white;
  /* --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255; */
}

@media (prefers-color-scheme: dark) {
  :root {
    background-color: black;
    /* --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0; */
  }

  ::-webkit-scrollbar-track {
    display: none;
    visibility: hidden;
    width: 0px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: rgb(255 255 255);
  }
  
  ::-webkit-scrollbar-thumb {
    display: none;
    visibility: hidden;
    width: 0px;
  }
}


::-webkit-scrollbar {
  display: none;
    visibility: hidden;
    width: 0px;
}

/* Track */
::-webkit-scrollbar-track {
  display: none;
    visibility: hidden;
    width: 0px; 
}
 
::-webkit-scrollbar {
  display: none;
    visibility: hidden;
    width: 0px;
}

/* Track */
::-webkit-scrollbar-track {
  display: none;
    visibility: hidden;
    width: 0px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  display: none;
    visibility: hidden;
    width: 0px;
}

.sidebar-util:hover::-webkit-scrollbar-thumb {
  display: none;
    visibility: hidden;
    width: 0px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  display: none;
    visibility: hidden;
    width: 0px;
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.truncate-2{
  display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.truncate-3{
  display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.skeleton-loader{
   background-color: #b8b8b8;
}

.skeleton-loader::after{
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transform: translateX(-50%);
  background-image: linear-gradient(to left , transparent , rgba(255,255,255,0.5) transparent);
  animation: skeleton-loading 1s infinite;
}

@keyframes skeleton-loading {
  100%{transform: translateX(100%);}
}